@charset "utf-8";

/*
   New Perspectives on HTML5, CSS3, and JavaScript 6th Edition
   Tutorial 13
   Case Problem 3

   MAS Layout Style Sheet
  
   Filename: mas_styles.css

*/


/* HTML and Body styles */

html {
   background: rgb(51, 51, 51) url(cg_back.png);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: rgb(241, 241, 241);
   box-shadow: black 20px 0px 40px,  black -20px 0px 40px;
   border-left: 3px solid black;
   border-right: 3px solid black;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-items: center;
   align-items: center;
   margin: 0px auto;
   min-width: 320px;
   max-width: 1020px;  
   width: 100%;
}


/* Header styles */

header {
   width: 100%;
}

header img#logoimg {
   display: block;
   width: 100%;
}

/* Horizontal Navigation Styles */

nav.horizontal ul {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   background-color: transparent;
   height: 40px;
   margin-top: -40px;
}
   
nav.horizontal ul li {
   -webkit-flex: 0 1 80px;
   flex: 0 1 80px;   
   margin: 10px;
}

nav.horizontal ul li a {
   color: rgb(21, 21, 21);
   display: block;
   font-size: 0.9em;
   text-align: center;
   padding: 50% 0%;
}

nav.horizontal ul li a:hover, nav.horizontal ul li a:active {
   color: rgb(211, 211, 211);
   text-shadow: 0px 0px 2px black, 0px 0px 8px black;
}


/* Navigation Styles */

nav#columns {  
   width: 100%;
}

nav#columns ul {
   background: linear-gradient(to top, rgb(51, 51, 51), rgb(101, 188, 200));
        
   -moz-column-width: 200px;
   -webkit-column-width: 200px;
    column-width: 200px;

   -moz-column-gap: 25px;
   -webkit-column-gap: 25px;
    column-gap: 25px;
    
    padding: 25px;
}


nav#columns ul li a {
   color: white;
   text-decoration: none;
   font-size: 0.9em;
}

nav#columns a:hover {
   color: rgb(191, 231, 191);
   text-decoration: underline;
}

/* Section Styles */

section#section1 {
   background: rgb(241, 241, 241);
   -webkit-flex: 2 1 421px;
   flex: 2 1 421px; 
   padding: 10px 20px 20px 40px; 
}

section#section2 {
   background: rgb(241, 241, 241);
   width: 600px; 
   padding: 10px 20px 20px 40px;
   margin: 10px auto; 
}

section h1 {
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
   font-weight: normal;
   font-size: 1.8em;
   margin: 15px 0px 18px;
   color: rgb(53, 158, 190);
   text-shadow: 2px 2px 10px rgb(151, 151, 151);
}

/* Aside Styles */

aside#reg1Aside {
   -webkit-flex: 2 1 200px;
   flex: 2 1 200px;
   background: rgb(241, 241, 241);
   padding: 0px 20px;
}

aside#reg2Aside {
   width: 100%;
   background: rgb(241, 241, 241);
   padding: 0px 20px;
}

/* Article Styles */

article {
   background: rgb(156, 178, 184);
   color: white;
   width: 100%;
   padding: 5px 20px 15px;  
   column-count: 4;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   
}

article h1 {
   font-size: 2em;
   font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
   letter-spacing: 0.3em;
   text-align: center;
   font-weight: normal;
   margin: 12px 0px 20px 0px;
   width: 100%;
}

article p {
   font-size: 1em;
   font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
   margin: 0px 20px 10px 0px;
   color: rgb(101, 101, 101);
   -webkit-flex: 1 1 200px;
   flex: 1 1 200px;
}

article p:first-of-type {
   background-color: rgba(255, 255, 255, 0.2);
   padding: 8px;
}

article a, article a:hover, article a:visited, article a:active {
   color: rgb(0, 41, 81);
}

/* Form Layout Styles */

section fieldset:first-of-type {
   margin: 10px 0px;
   padding-top: 8px;
   border-right: none;
   border-bottom: none;
   border-left: 4px groove rgb(165, 255, 255);
   border-top: 4px groove rgb(165, 255, 255);
   border-radius: 25px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;   
}

section fieldset:last-of-type {
   margin: 10px 0px;
   border-top: none;
   border-left: none;
   border-right: 4px groove rgb(165, 255, 255);
   border-bottom: 4px groove rgb(165, 255, 255);
   border-radius: 25px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;
}

section label {
   display: block;
   float: left;
   clear: left;
   margin: 3px;
   width: 240px;
   font-size: 0.8em;
   color: rgb(101, 101, 101);
}

section input, section select {
   display: block;
   float: left;
   margin: 3px 0px;
   width: 200px;
   color: rgb(101, 101, 101);
}

section input[type="checkbox"] {
   width: 25px;
}

section input#banquetBox {
   width: 4em;
}

section select {
   font-size: 0.75em;
   color: rgb(101, 101, 101);
}

section span {
   display: block;
   width: 100px;
   float: left;
   margin: 3px 0px 3px 5px;
   font-size: 0.8em;
   color: rgb(101, 101, 101);
}

section label.cardLabel {
   display: inline-block;
   width: 50px;
   float: none;
}

section input[type='radio'] {
   width: 20px;
   display: inline-block;
}

section img {
   display: inline
}

section input#subButton, section input#regSubmit {
   background-color: rgb(69, 149, 151);
   color: rgb(216, 245, 245);
   border-radius: 20px;
   float: none;
   display: block;
   font-size: 1.1em;
   height: 30px;
   width: 150px;
   clear: left;
   margin: 10px auto;
}

section fieldset#cards {
   border: none;
}

aside#reg1Aside table {
   width: 100%;
}

aside#reg2Aside table {
   width: auto;
   margin: 20px auto;
}

aside table caption {
   font-size: 1.2em;
   font-weight: normal;
   text-align: center;
   letter-spacing: 0.1em;
   margin: 4px 0px 12px 0px;
   caption-side: top;
   color: rgb(101, 101, 101);
}

aside table th {
   vertical-align: top;
   font-weight: normal;
   text-align: left;
   font-size: 0.8em;
   color: rgb(101, 101, 101);
   padding-right: 15px;
}

aside table td {
   vertical-align: top;
   font-size: 0.8em;
   letter-spacing: 0.1em;
   width: 140px;
   background-color: transparent;
   color: rgb(101, 101, 101);
}




aside table tr:last-of-type th, aside table tr:last-of-type td {
   border-top: 1px solid rgb(101, 101, 101);
}


/* Validation Styles */

input:focus, select:focus {
   background-color: rgb(245, 245, 140);
}

input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#groupBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid {
   background-color: rgb(220, 255, 220);
}

input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#groupBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid {
   background-color: rgb(255, 232, 232);
}

/* Footer styles */   

footer {
   color: white;    
   background: rgb(51, 51, 51);  
   height: 30px;
   text-align: center;
   font-size: 0.9em; 
   width: 100%;
   border-top: 1px solid white;
}
